       
.navbar {
  background-color: black; /* Black background color */
  color: red; /* White text color */
  display: flex;
  justify-content: space; 
   padding: 10px;
}
.components{
  text-align: right;
  margin-right: 5%;
  font-size: 40px;
} 

.navbar a {
  color: rgb(239, 111, 132); /* White text color for navbar links */
  text-decoration: none;
  margin: 0 20px;
  font-size: 16px;
}

.navbar a:hover {
  color: white; /* Yellow text color on hover */
}
.navcompanyname {
  font-weight: bold;
  margin-right: 20px;
  font-size: 40px;
}

/* Media query for smaller screens */
@media screen and (max-width: 720px) {
.navbar {
  flex-direction: column;
  align-items: center;
}

.components {
  text-align: center;
  margin-right: 0;
  font-size: 24px;
}

.navbar a {
  margin: 10px 0;
}

.navcompanyname {
  margin-right: 0;
  font-size: 30px;
}
}