/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: #000; /* Black background color */
  color: red; /* White text color */
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: red; /* White text color for navbar links */
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.navbar a:hover {
  color: #ffcc00; /* Yellow text color on hover */
}
.navcompanyname {
  font-weight: bold;
}